* {
  margin: 0;
  padding: 0;
}

.h3Pai {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #90a7e3;
  color: white;
  padding: 1em 0.5em;
}

.h3 {
  width: 80%;
  font-size: 22px;
  font-weight: 500;
}

.horarioPai {
  text-align: center;
  padding: 4em 0 5.5em 0;
}

.horario {
  padding: 1em 3em;
  font-size: 20px;
}

.pHorario {
  padding: 0 1em;
  margin-bottom: 1em;
  font-size: 25px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.button {
  margin: 0 3em;
  text-decoration: none;
  background-color: #90a7e3;
  color: white;
  padding: 0.6em 0em;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  border: none;
}

.logoContainer {
  display: flex;
  position: relative;
  z-index: 15;
  height: 80%;
  aspect-ratio: 1 / 1;
  background-color: #fff; /* Define um fundo branco para o contêiner */
  border-radius: 9999px; /* Torna o contêiner circular */
  /* Adiciona padding para criar o "buraco" ao redor da imagem */
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
}

.menuNavegacao {
  bottom: 0;
  width: 100%; /* Garante que o footer ocupe toda a largura da viewport */
  background-color: #90a7e3; /* Define uma cor de fundo para o footer */
  text-align: center; /* Centraliza o conteúdo do footer */
  padding: 1em 0; /* Adiciona padding ao footer */
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra ao footer */
  position: fixed;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoHome {
  display: block;
  position: relative;
  width: 40px; /* Ajuste o tamanho conforme necessário */
  height: 40px; /* Ajuste o tamanho conforme necessário */
  border-radius: 9999px; /* Torna a imagem circular */
  z-index: 15;
}

.menuNavegacao a {
  display: inline-block;
  padding-top: 10px;
}

.mobileSelect {
  background-color: #fff; /* White background */
  border: 1px solid #ccc; /* Light gray border */
  padding: 10px;
  margin-top: 20px;
  width: 70%; /* Take up full width on mobile */
  box-sizing: border-box; /* Include padding and border in element width */
  appearance: none; /* Remove default styling */
  -webkit-appearance: none; /* For Safari */
  -moz-appearance: none; /* For Firefox */
}

/* Optional: Styling for the dropdown arrow */
.mobileSelect::-ms-expand {
  display: none; /* Hide default arrow in IE10 */
}

.mobileSelect::after {
  content: "▼"; /* Unicode character for a downward arrow */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none; /* Prevent arrow from being clickable */
}

/* Optional: Styling for focus state */
.mobileSelect:focus {
  outline: none;
  box-shadow: 0 0 5px #007bff; /* Blue shadow on focus */
}
